doctype html
html
  body
    h1 Novo Contato no Site
    div(style="display: flex; flex-direction: row; gap: 10px")
      div
        b Nome: 
        p= nome
      div
        b E-mail: 
        p= email
      div
        b Telefone: 
        p= telefone
      div
        b Mensagem: 
        p= mensagem