doctype html
html
  body
    h1 Novo Contato no Site
    div
      div(style="display: block; margin-bottom: 10px;")
        b Nome: 
        p= nome
      div(style="display: block; margin-bottom: 10px;")
        b E-mail: 
        p= email
      div(style="display: block; margin-bottom: 10px;")
        b Telefone: 
        p= telefone
      div(style="display: block; margin-bottom: 10px;")
        b Mensagem: 
        p= mensagem