doctype html
html
  body
    h1 Novo Contato no Site
    div(style="display: flex; flex-direction: column; gap: 10px")
      div
        b Nome: 
        span= nome
      div
        b E-mail: 
        span= email
      div
        b Telefone: 
        span= telefone
      div
        b Mensagem: 
        p= mensagem