doctype html
html
  body
    h1 Nova Dúvida no Site
    div
      div(style="display: block; margin-bottom: 10px;")
        b Qual a sua relação com a Sofintech?
        p= qualSuaRelacaoComAEmpresa
      div(style="display: block; margin-bottom: 10px;")
        b Qual a sua dúvida com relação ao Código de Conduta, politicas e procedimentos da Sofintech?  
        p= duvida