doctype html
html
  body
    h1 Nova Dúvida no Site
    div(style="display: flex; flex-direction: column; gap: 10px")
      div
        b Qual a sua relação com a Sofintech?
        p= qualSuaRelacaoComAEmpresa
      div
        b Qual a sua dúvida com relação ao Código de Conduta, politicas e procedimentos da Sofintech?  
        p= duvida