doctype html
html
  body
    h1 Nova Sugestão no Site
    div(style="display: flex; flex-direction: row; gap: 10px")
      div
        b Qual a sua relação com a Sofintech?
        p= qualSuaRelacaoComAEmpresa
      div
        b O que você acha que está errado ou pode melhorar? Qual sua sugestão? 
        p= sugestao
      div
        b Indique a(s) pessoa(s), especificando o(s) cargo(s) por ela(s) ocupado(s), que você acha que é(são) responsável(is) por implementar as alterações que você está sugerindo? 
        p= pessoasParaImplementar
      div
        b Você já tentou fazer essa sugestão diretamente para essa(s) pessoa(s)?
        p= tentouFazerDiretamenteAPessoa