doctype html
html
  body
    h1 Nova Sugestão no Site
    div
      div(style="display: block; margin-bottom: 10px;")
        b Qual a sua relação com a Sofintech?
        p= qualSuaRelacaoComAEmpresa
      div(style="display: block; margin-bottom: 10px;")
        b O que você acha que está errado ou pode melhorar? Qual sua sugestão? 
        p= sugestao
      div(style="display: block; margin-bottom: 10px;")
        b Indique a(s) pessoa(s), especificando o(s) cargo(s) por ela(s) ocupado(s), que você acha que é(são) responsável(is) por implementar as alterações que você está sugerindo? 
        p= pessoasParaImplementar
      div(style="display: block; margin-bottom: 10px;")
        b Você já tentou fazer essa sugestão diretamente para essa(s) pessoa(s)?
        p= tentouFazerDiretamenteAPessoa